---
import Blog from "../components/Blog/Blog"
import NavCreate from "../components/Header/navBars/NavCreate";
import Footer from "../components/Footer/Footer";
---

<div class="relative">
	<div><NavCreate page={"blog"} client:load/></div>
	<div>
	<Blog  client:load/>
	</div>
	<div>
		<Footer page={"blog"} />
	</div>
</div>
