---
import MainLayout from "../layouts/main-layout.astro"
---

<MainLayout title="didjital sms">
	<div class="flex flex-col"> 
 <h2>Hello</h2>
 	<div class="px-[12px] py-[12px] bg-[yellow] my-[25px] cursor-pointer w-[120px]">
 		<a href="/about">go to about</a>
	</div>
	<div class="px-[12px] py-[12px] bg-[yellow] my-[25px] cursor-pointer  w-[120px]">
 		<a href="/benefits">go to benefits</a>
	</div>
	<div class="px-[12px] py-[12px] bg-[yellow] my-[25px] cursor-pointer  w-[120px]">
		<a href="/anime-portraits">go to Anime Portaits</a>
 </div>
</div>
</MainLayout>
