---
import MainLayout from "../layouts/main-layout.astro"
---

<MainLayout title="didjital sms">
 <h2>Hello</h2>
 <a href="/about">go to about</a>
 <a href="/benefits">go to benefits</a>
</MainLayout>
