---

---
	<html lang="en">

		<body class="flex">
			<div class="flex items-center w-[100%] justify-center">
			 <h1 class="text-[#000000]">Добро пожаловать на мою страницу!</h1>
		 </div>
		</body>
	</html>

